MODE=

POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_HOST_DOCKER=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

REDIS_HOST=
REDIS_HOST_DOCKER=   # host.docker.internal
REDIS_PORT=6379

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=